* {
    background-color: #3a3a3a;
    color: #FFFFFF;
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
}

h1 {
    font-size: 28px;
}

.highScore {
    text-align: center;
    list-style-type: none;
}

body {
    text-align: center;
}


header {
    background-image: url("../image/quiz.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 150px;
    min-width: 250px;
    margin: auto;
    margin-bottom: 50px;
}

#submit {
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: #BADA55;
    border-color: #BADA55;

}

#startQuiz {
    margin: 0 auto;
    background-color: #BADA55;
    color: black;
    border-color: #BADA55;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    text-align: center;

}

#restart {
    margin: 0 auto;
    background-color: #BADA55;
    color: black;
    border-color: #BADA55;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    text-align: center;

}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioDiv {
    display: inline-block;
    color: #FFF;
}

#timer {
    font-size: 50px;
}

.inputDiv input {
    padding: 5px;
}

.userName input {
    padding: 5px;
}

.red {
    border-color: red;
    color: red;
}

.green {
    border-color: #BADA55;
    color: #BADA55;
}
